.social-media{
    h1{
        text-align: center;
    }
    .social-media-icons{
        display: block;
        margin: 10px auto;
        text-align: center;
        font-size: 20px;
        color: #fff;
        i{
            padding: 10px;
            border-radius: 3px;
            margin: 5px;
        }
        .fa-facebook-f{
            padding: 10px 15px 10px 15px;
            background: #3b5999;
        }
        .fa-twitter{
            background: #55acee;
        }
        .fa-instagram{
            background: #e4405f;
        }
        .fa-pinterest-p{
            background: #bd081c;
        }
    }
}