@import "../modules/all";

.text-divider{
    background: $blue;
    p{
        color: $white;
        text-align: center;
        font-size: 25px;
        line-height: 45px;
        font-weight: 200;
        padding: 30px 0 0px 0;
        margin-bottom: -25px;
        strong{
            font-weight: bold;
        }
    }

}